<at-layout-sidebar #layoutSidebarRef
                   [layoutType]="'basic'"
                   scrollOn="container"
                   [showAtScrollbar]="true">

    <at-layout-header>
        <div class="at-p-40 at-hp-100">
            <h2 class="at-no-m">AtLayout</h2>
        </div>
        <mat-divider></mat-divider>
    </at-layout-header>


    <at-layout-content>
        <div class="at-p-40 at-hp-100">
            <code>at-layout</code> element renders a content container with a left, right or both sidenavs and 3 types of views: main, simple or carded.
        </div>


    </at-layout-content>


</at-layout-sidebar>