<at-layout #layoutSidebarRef
                   [layoutType]="'basic'"
                   scrollOn="content"
                   [showAtScrollbar]="true">

    <at-layout-header color="light-blue-600">
        <div class="at-p-40 at-hp-100">
            <h2 class="at-no-m mat-display-1">Layout</h2>
        </div>
    </at-layout-header>

    <at-layout-content>

        <mat-tab-group class="at-wp-75 at-p-40" style="margin-left: auto; margin-right: auto"
                       (selectedTabChange)="selectedTabChange($event)">
            <mat-tab label="OVERVIEW">

                <div class="at-p-40">
                    <td-markdown [content]="overview"></td-markdown>
                </div>
            </mat-tab>
            <mat-tab label="API">
                <div class="at-p-40">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                   [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option">
                                    {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <td-markdown [content]="api"></td-markdown>
                </div>
            </mat-tab>
            <mat-tab label="EXAMPLES">
                <div class="at-p-40">
                    <example-viewer example="layout-basic"></example-viewer>
                </div>

            </mat-tab>
        </mat-tab-group>
    </at-layout-content>


</at-layout>