<mat-card fxLayout="row" fxLayoutAlign="center center">
    <div class="at-p-10">
        <button class="at-mt-20" mat-button color="primary" (click)="openAlert()">{{'Open Alert'}}</button>
    </div>
    <div class="at-p-10">
        <button class="at-mt-20" mat-button color="primary" (click)="openConfirm()">{{'Open confirm'}}</button>
    </div>
    <div class="at-p-10">
        <button class="at-mt-20" mat-button color="primary" (click)="openPrompt()">{{'Open promt'}}</button>
    </div>
</mat-card>