<mat-toolbar color="primary" class="at-main-toolbar">

    <div fxHide="false" fxHide.gt-sm>
        <button (click)="layoutRef.toggleSideNav()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <img src="assets/img/at-light-icon.svg" class="at-hp-80 at-ml-10">
    <h1 class="at-ml-15">Angular Atomic UI</h1>
    <div fxFlex></div>
    <a class="at-mr-15" mat-button href="https://github.com/dbartumeu/atomic-ui" target="_blank">
        <img src="assets/img/github.svg">
        <span class="at-ml-10">GitHub</span>
    </a>
</mat-toolbar>
