@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import '~@angular/material/_theming';
@import 'lib/styles/helpers';
@import "lib/styles/theming";

@include mat-core();

// Define the default theme.
$default-primary: mat-palette($mat-indigo);
$default-accent: mat-palette($mat-pink, A200, A100, A400);
$default-theme: mat-light-theme($default-primary, $default-accent);

// Include the default theme styles.
@include angular-material-theme($default-theme);

// Define a generic light theme.
$at-light-primary: mat-palette($mat-light-blue,700);
$at-light-accent: mat-palette($mat-pink, A200, A100, A400);
$at-light-theme: mat-light-theme($at-light-primary, $at-light-accent);

// Define a generic dark theme.
$at-dark-primary: mat-palette($mat-pink);
$at-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$at-dark-warn: mat-palette($mat-deep-orange);
$at-dark-theme: mat-dark-theme($at-dark-primary, $at-dark-accent, $at-dark-warn);


// This design depends on the selection of the material colors palette
.at-sidenat-button.active {
  color: map-get($default-primary, 400) !important;
}

// Define Atomic's light theme.
.at-theme-light {
  @include angular-material-theme($at-light-theme);
  @include atomic-theme($at-light-theme);
}

// Define Atomic's dark theme.
.at-theme-dark {
  @include angular-material-theme($at-dark-theme);
  @include atomic-theme($at-dark-theme);
}




